/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../home/joe/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/joe/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/joe/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/joe/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/joe/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/joe/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/joe/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/joe/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/joe/.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_iphone.scss */
.edge {
  stroke: none;
  stroke-width: 0.25;
}

/* line 24, ../sass/_panel.scss */
.guideX {
  bottom: 7em;
  height: 20px;
  width: 100%;
  position: absolute;
}
/* line 30, ../sass/_panel.scss */
.guideX .line {
  width: 100%;
  height: 1px;
  margin-top: 10px;
}

/* line 37, ../sass/_panel.scss */
.guideY {
  left: 7em;
  top: 0;
  height: 100%;
  width: 20px;
  position: fixed;
}
/* line 44, ../sass/_panel.scss */
.guideY .line {
  height: 100%;
  width: 1px;
  margin-left: 10px;
}

/* line 51, ../sass/_panel.scss */
.c1 {
  background: #2ecc71;
}

/* line 52, ../sass/_panel.scss */
.c2 {
  background: #3498db;
}

/* line 53, ../sass/_panel.scss */
.c3 {
  background: #9b59b6;
}

/* line 54, ../sass/_panel.scss */
.c4 {
  background: #e74c3c;
}

/* line 55, ../sass/_panel.scss */
.c5 {
  background: #f2ca27;
}

/* line 56, ../sass/_panel.scss */
.c6 {
  background: #7f8c8d;
}

/* line 58, ../sass/_panel.scss */
.panel {
  position: fixed;
  height: 100%;
  width: 7em;
  opacity: 0.1;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 100000;
}
/* line 66, ../sass/_panel.scss */
.panel button {
  position: relative;
  width: 5em;
  height: 2em;
  margin: 0;
  padding: 0;
  background: #bdc3c7;
  border-radius: 0.25em;
  line-height: 2em;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  opacity: 0.75;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  border: none;
  outline: none;
  margin-left: 1em;
  margin-top: 1em;
}
/* line 88, ../sass/_panel.scss */
.panel button:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 93, ../sass/_panel.scss */
.panel .c1 {
  background: #2ecc71;
}
/* line 94, ../sass/_panel.scss */
.panel .c2 {
  background: #3498db;
}
/* line 95, ../sass/_panel.scss */
.panel .c3 {
  background: #9b59b6;
}
/* line 96, ../sass/_panel.scss */
.panel .c4 {
  background: #e74c3c;
}
/* line 97, ../sass/_panel.scss */
.panel .c5 {
  background: #f2ca27;
}
/* line 98, ../sass/_panel.scss */
.panel .c6 {
  background: #7f8c8d;
}
/* line 100, ../sass/_panel.scss */
.panel .selected {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 105, ../sass/_panel.scss */
.panel .controls {
  position: relative;
}
/* line 107, ../sass/_panel.scss */
.panel .controls input {
  width: 5em;
  height: 2em;
  background: #ecf0f1;
  color: #95a5a6;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.25em;
  text-align: center;
  border: none;
  margin-top: 1em;
  margin-left: 1em;
}
/* line 121, ../sass/_panel.scss */
.panel .controls input:focus {
  width: calc(5em - 2px);
  height: calc(2em - 2px);
  background: white;
  border: 1px solid #2ecc71;
}
/* line 129, ../sass/_panel.scss */
.panel .palette {
  width: 6em;
  position: relative;
}
/* line 133, ../sass/_panel.scss */
.panel .palette .color {
  float: left;
  width: 2em;
  height: 2em;
  margin: 1em 0 0 1em;
  border-radius: 0.25em;
  opacity: 0.7;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
/* line 143, ../sass/_panel.scss */
.panel .palette .color:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 150, ../sass/_panel.scss */
.panel:hover {
  opacity: 1;
}

/* line 11, ../sass/screen.scss */
body, html {
  height: 100%;
}

/* line 15, ../sass/screen.scss */
section {
  height: 100%;
}
/* line 18, ../sass/screen.scss */
section #stencil {
  position: absolute;
  width: 39.27vh;
  height: 80vh;
  border-radius: 5.75vh;
  border: 1px solid red;
  left: 50%;
  top: 50%;
  margin-left: -19.635vh;
  margin-top: -40vh;
}
/* line 30, ../sass/screen.scss */
section #iphone {
  position: absolute;
  height: 80vh;
  left: 50%;
  top: 50%;
  margin-left: calc(-19.635vh - 1px);
  margin-top: -40vh;
  opacity: 0;
  display: none;
}
/* line 41, ../sass/screen.scss */
section #guide {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 49, ../sass/screen.scss */
section #mysvg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* line 61, ../sass/screen.scss */
section:nth-of-type(1) {
  background: white;
}

/* line 65, ../sass/screen.scss */
section:nth-of-type(2) {
  background: #444;
}

/* line 69, ../sass/screen.scss */
section:nth-of-type(3) {
  background: #666;
}
