@import "normalize";

body, html{
    height: 100%;
}

header{
    position: fixed;
    height: 8%;
    max-height: 50px;
    width: 100%;
    background: rgba(#111, 1);
}

main{
    height: 100%;
    background: #fafafa;
}

section{
    height: 100%;
    background: white;
}
