// Imports
@import "normalize";
@import "compass/css3";

// Custom Mixins
@mixin _grid($width, $max-width, $margin) {
    width: $width;
    max-width: $width;
    margin: $margin;
}

@mixin _col($padding: 1vh) {
    padding: $padding;
}  

@mixin _module ($padding: 2vh) {
    padding: $padding;
    width: 100%;
}

// Styling rules
body, html {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    background: black;
}

.ui {
    margin-top: 12.5vh;
    height: 90vh;
    background: red;

    .grid {
        @include _grid(95%, 1280px, auto);
        background: yellow;
        @include display-flex;
        @include flex(1);
        @include flex-flow(row wrap);

        .col {
            @include display-flex;
            @include flex(1);
            @include _col;

            .module {
                @include _module;
                background-color: #ecf0f1;
                color: #bdc3c7;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                height: 33.333vh - 10vh;
                width: 15vh;

            }

            .test {
                background: url(../../assets/nyc.jpg);
                padding: 0; 
                background-size: cover;
            }

           /* .test:before {
                padding-top: 177%;
                content: "";
                display: block;
            }*/
        }
    }
}

